<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button color="light"  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Fewnu Inscription</h3>
  <form #user="ngForm" (ngSubmit)="onRegister(user)">
    <ion-item>
    <ion-label position="floating">Nom Complet</ion-label>
    <ion-input type="text" [(ngModel)]="user.nom_complet"  name="nom_complet" ngModel></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Téléphone</ion-label>
      <ion-input type="text" [(ngModel)]="user.phone" name="phone" ngModel></ion-input>
      </ion-item>
    <ion-item>
        <ion-label position="floating">Code Secret</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"  name="password" ngModel></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Confirmer votre Code Secret</ion-label>
      <ion-input type="password" [(ngModel)]="user.cpassword"  name="cpassword" ngModel></ion-input>
    </ion-item> 
    <br>
    <ion-button type="submit"  size="medium" color="secondary">S'INSCRIRE</ion-button>
  </form>
</ion-content>
