ion-title{
    background-color: rgb(0, 0, 55);
    size: large;
    color: white;
}
ion-button{
    margin-left: 100px;
    color: rgb(0, 0, 55);
    
}

.conteneur{
    display: flex;
}

.pret{
    margin-top: 20px
}
