<ion-header>
  </ion-header>
  
  <ion-content>
      <ion-row>
          <ion-col col-2>
            <th>Designation</th>
          </ion-col>
          <ion-col col-2>
              <th>Prix</th>
          </ion-col>
      </ion-row>
  </ion-content>
  