<ion-header>
</ion-header>

<ion-content>
  <ion-row>
      <ion-col col-2>
        <th>Produit</th>
      </ion-col>
      <ion-col col-2>
          <th>P.U</th>
      </ion-col>
      <ion-col col-2>
          <th>QT</th>
      </ion-col>
  </ion-row>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/ajoutsorties">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
