<ion-header>
  </ion-header>
  
  <ion-content>
      <ion-row>
          <ion-col col-2>
            <th>Client</th>
          </ion-col>
          <ion-col col-2>
              <th>Montant</th>
          </ion-col>
      </ion-row>

      <!--
      <ion-card-content>
        <ion-item>
          <ion-label>Click test</ion-label>
          <ion-button (click)="onLoadPret()">OK</ion-button>
        </ion-item>
      </ion-card-content>
      -->

      <div *ngIf="result">
        <ion-row *ngFor="let m of result.data;  let rowIndex=index">
          <ion-col col-3>
            <th>{{m.Client}}</th>
          </ion-col>
          <ion-col col-3>
              <th>{{m.Montant}}</th>
          </ion-col>
        </ion-row>
        </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/ajoutpret">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" >
    <p>Total  
    <ion-chip style="background-color: blue; color:white" >
      <ion-label>FCFA</ion-label>
    </ion-chip>
  </p>
 </ion-fab>
</ion-content>
