<ion-header>
    <ion-toolbar class="ion" color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="menu/aceuil"></ion-back-button>
      </ion-buttons>     
    <ion-title>Fewnu</ion-title>
    </ion-toolbar> 
   </ion-header>
  
  <ion-content>
      <ion-tabs>
  
          <ion-tab-bar slot="top" color="primary">
            <ion-tab-button tab="entrees">
              <ion-label>ENTREES</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="sorties"> 
              <ion-label>SORTIES</ion-label>
            </ion-tab-button>
        
          </ion-tab-bar>
        
        </ion-tabs>

       
  
       
  </ion-content>