 <ion-content>
      <ion-row>
          <ion-col col-2>
            <th>Designation</th>
          </ion-col>
          <ion-col col-2>
              <th>Prix</th>
          </ion-col>
      </ion-row>

      <!--
      <ion-card-content>
        <ion-item>
          <ion-label>Click test</ion-label>
          <ion-button (click)="onLoadDepense()">OK</ion-button>
        </ion-item>
      </ion-card-content>
      -->

      <div *ngIf="result">
        <ion-row *ngFor="let m of result.data;  let rowIndex=index">
          <ion-col col-3>
            <th>{{m.Designation}}</th>
          </ion-col>
          <ion-col col-3>
              <th>{{m.Prix}}</th>
          </ion-col>
        </ion-row>
        </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/ajoutdepense">
      <ion-icon name="add"></ion-icon> 
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" >
    <p>Total  
    <ion-chip style="background-color: blue; color:white" >
      <ion-label>FCFA</ion-label>
    </ion-chip>
  </p>
 </ion-fab>
</ion-content>
