<ion-header>
  <ion-toolbar class="ion" color="primary">
    <ion-buttons class="ion-buttons" slot="start">
    <ion-back-button color="light"  defaultHref="menu/aceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-radio-group>
         <div id="conteneur">
          <p></p>
            <ion-radio value="cord" mode="md" margin checked="true"></ion-radio>
            <ion-label class="pret">Prêt</ion-label>
         
            <ion-radio value="duesenberg" mode="md" margin></ion-radio>
            <ion-label>Remboursement</ion-label>
         </div>
        </ion-radio-group>
        
        <ion-row>
            <ion-col col-2>
              <ion-item>
                <ion-label position="floating">Nom Client</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-2>
              <ion-item>
                <ion-label position="floating">Téléphone</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-2>
              <ion-item>
                <ion-label position="floating">Libellé</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-2>
              <ion-item>
                <ion-label position="floating">Montant</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>

  <ion-button class="ion-button" type="submit" color="primary">AJOUTER</ion-button>
  
</ion-content>


