<ion-header>
  <ion-toolbar class="ion" color="primary">
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button defaultHref="menu/aceuil"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <br><br><br>
    <form #entrer="ngForm" (ngSubmit)="onAjout(entrer)">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

              <div padding>
                  <div text-center>
                      <h3 color="primary">Ajouter un stock</h3>
                    </div><br>

                <ion-item color="none">
                  <ion-input name="Produit" type="text" [(ngModel)]="entrer.Produit" placeholder="Produit"></ion-input>
                </ion-item><br>
                <ion-item color="none">
                  <ion-input name="Prix_Unitaire" type="number" [(ngModel)]="entrer.Prix_Unitaire" placeholder="Prix Unitaire"></ion-input>
                </ion-item>  <br>
                <ion-item color="none"> 
          
                  <ion-input name="Quantite" type="number" [(ngModel)]="entrer.Quantite" placeholder="Quantitée"></ion-input>
               </ion-item>           
              </div>
              <div padding>
                <ion-button class="ion-button" color="primary" type="submit" >Valider</ion-button>
              </div>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
</ion-content>

