ion-title{
    background-color: rgb(0, 0, 55);
    size: large;
    color: white;
}
ion-button{
    margin-left: 100px;
    
}
ion-buttons{
    color: blue;
}

.item{
    margin-right: 35px;
    font-size: 30px;
    color: green;
}

.value {
    text-align: end;
    font-size: 32px;  

}

.calc-button {
    width: calc(25% - 4px);
    height: 40px;
    font-size: 20px;
    flex-direction: column-reverse;
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 50px;
    border-radius:10%;
}

#conteneur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1px;
    margin-left: 50px;
    margin-bottom: 10px;
}


