<ion-header>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col col-2>
          <th>Designation</th>
        </ion-col>
        <ion-col col-2>
            <th>Prix</th>
        </ion-col>
    </ion-row>

    <!--
    <ion-card-content>
      <ion-item>
        <ion-label>Click test</ion-label>
        <ion-button (click)="onLoadVente()">OK</ion-button>
      </ion-item>
    </ion-card-content>
    -->

  

    <div *ngIf="result">
    <ion-row *ngFor="let m of result.data;  let rowIndex=index">
      <ion-col col-3>
        <th>{{m.Designation}}</th>
      </ion-col>
      <ion-col col-3>
          <th>{{m.Prix}}</th>
      </ion-col>
    </ion-row>
    </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/ajoutvente">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab vertical="bottom" horizontal="start" >
      <p>Total  
      <ion-chip style="background-color: blue; color:white" >
        <ion-label>FCFA</ion-label>
      </ion-chip>
    </p>
   </ion-fab>

   <!--
   <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  -->

    <!--
      <ion-card *ngIf="result">
      <ion-card-content>
        
          <ion-item *ngFor="let m of result.data;  let rowIndex=index">
            <ion-list>
                <span class="badge badge-dark"></span>
              <ion-item>
                 {{m.Designation}}  {{m.Prix}}
              </ion-item>
            </ion-list>
          </ion-item>
        
      </ion-card-content>
    </ion-card>
    -->
</ion-content>
